<!-- add_to_cart.html -->
{% extends "base.html" %}
{% block content %}
{% load static %}
    <!-- <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
<title>Add to Cart</title>
<h1>Add Product to Cart</h1>
Display Product Information
    {% for product in object_list %}
        <ul>product.IDforProducts</ul>
        <ul>product.name</ul>
        <div>
            <h2>{{ product.name }}</h2>
            <p>Price: ${{ product.price }}</p>
            <p>Description: {{ product.description }}</p>
        </div>
    {% endfor %}
{% endblock %}