{% extends "base.html" %}
<!-- <header>
    <link rel=”stylesheet” href="{{STATIC_URL}}  'css/style.css'">
</header> -->

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<h1>Welcome To Our Food HomePage</h1>
<li>No objects yet</li>

<ul>
    {% for p in object_list %}
    <!--                                                                                                 same line ↓ -->
    <li>
        {{ p.name }} 
        {{ p.description }}
        <img src="{{MEDIA_URL}}{{ p.image.url}}"> 
    </li>
    {% endfor %}
</ul>
{% endblock %}
